<%= form_with(model: blog, local: true) do |form| %>
  <% if blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(blog.errors.count, "error") %> prohibited this blog from being saved:</h2>

      <ul>
      <% blog.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div style="width:100%">
<div class="w3-container w3-padding">
      <h4>Popular Posts</h4>
    </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :blog_title, :class=> 'w3-container w3-padding', :style=>"width:100%"%>
  </div>

  <div class="field">
    <%= form.label :day %>
    <%= form.text_field :date, id: :blog_date, :class=> 'w3-container w3-padding', :style=>"width:100%" %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content, id: :blog_content, :class=> 'w3-container w3-padding', :style=>"width:100%" %>
  </div>

  <div class="field">
    <%= form.label :author %>
    <%= form.text_field :author, id: :blog_author, :class=> 'w3-container w3-padding', :style=>"width:100%" %>
  </div>

  <div class="actions">
    <%= form.submit class: 'w3-button w3-padding-large w3-white w3-border' %>
  </div>
<% end %>
  </div>

